  <div>
    <h3 class="text-center">
      <% @topics.each do |topic| %>
        <%= link_to topic.title, topic %>
          <% if policy(topic).destroy? %>
            <%= link_to "Delete", topic_path, method: :delete, remote: true, class: 'btn btn-xs btn-danger'%>
          <% end %>
        <% end %>
    </h3>
    <div class="container">
      <div class="span12 text-center">
        <% @bookmarks.each do |bookmark| %>
          <%= link_to "Edit", edit_bookmark_path, class: 'btn btn-success' %>
          <%= link_to "Delete", bookmark_path, method: :delete, data: { confirm: 'Are you sure you want to delete this bookmark?' }, class: 'btn btn-danger' %>
        
          <%= render partial: 'likes/like', locals: { topic: topic, bookmarks: bookmarks } %>
          
        <% end %>
      </div>
    </div>
  </div> 

