<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to "Bearded Bear Tracks", root_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
    <li><%= link_to "Topics", topics_path %></li>
      <% if current_user %>
        Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %> or</li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>

  </ul>

<%= yield %>

</body>
</html>
